<header class="contain">
	<div id="branding">
		{% if page.title == "Home" %}		
			{% if page.image %}
				<img src="{{ page.image }}" alt="">
			{% endif %}				
			<h1><a href="/">{{ site.title }}</a></h1>
			<h2>{{ page.excerpt }} <small id="read-more">Read More.</small></h2>
			<div id="full-content">
				{{ content }}	
			</div>	
		{% else %}
			<h1><a href="/">{{ site.title }}</a></h1>		
		{% endif %}
	</div>
	<nav>
		<ul class="nostyle">
			{% for item in site.pages %} {% if item.title and item.title != 'Home' %}
			<li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
			{% endif %} {% endfor %}
		</ul>
		</li>
		</ul>
	</nav>
</header>
