<header class="contain">
	{% assign header = site.sitewide | where:"_slug", "header" %}	
	{% assign header = header[0] %}	
	{% if header.image %}
		<img id="header-image" width="130px" src="{{ header.image }}" alt="marie_cusick"/>
	{% endif %}		
	<div id="branding">
		{% if page.title == "Home" %}		
			<h1><a href="/">{{ header.sitewide_title }}</a></h1>
			<h2>
					{{ header.teaser_markdown }}  <small id="read-more">Read More.</small>
			</h2>
			<div id="full-content">
					{{ header.content }}
			</div>	
		{% else %}
			<h1><a href="/">{{ header.sitewide_title }}</a></h1>		
		{% endif %}
	</div>
	<nav>
		<ul class="nostyle">
			{% if page.title != 'Home' %}
				<li class="{% if item.url == page.url %}active{% endif %}"><a href="/">Home</a></li>
			{% endif %}
			{% for item in site.pages %} {% if item.title and item.title != 'Home' %}
			<li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
			{% endif %} {% endfor %}
		</ul>
		
		
	</nav>
</header>
