
$link-color: #0067FB;
$text-color:#5C6E74;
$text-color-dark:rgb(22, 53, 65);
$sans-serif:'Roboto', sans-serif;
$monospace: monospace;

html {
	font-family:$sans-serif;
	color:$text-color;
	font-size:18px;
	line-height:1.5;
}

p {
}

a {
	color:$link-color;
	text-decoration:none;
}


header {
	margin-top:160px;
	margin-bottom:50px;
	#branding {
		h1 {
			font-family:$monospace;
			text-transform: uppercase;
			font-weight:normal;
			letter-spacing:.1rem;
			font-size:1.25rem;
		}
		h2 {
			font-weight:normal;
			color:$text-color-dark;
		}
	}
	nav {
		ul {
			display:flex;
			flex-wrap:wrap;
			li {
				&:after {
					content: "/";
					padding-left:10px;
					padding-right:10px;
				}
				&:last-of-type {
					&:after {
						content:"";
					}
				}
			}
		}
	}
}

main {
	margin-bottom:70px;
}

footer {
	border-top:solid 1px #eee;
	padding-top:40px;
	padding-bottom:30px;
	display:flex;
	justify-content:space-between;
	font-size:.9rem;
	color:#999;
	ul#social {
		display:flex;
		li {
			margin-right:10px;
		}
	}
}

body.interior {
	main {
		h1 {
			font-weight:normal;
			color:$text-color-dark; 
		}
	}
}

time {
	display:block;
}