<!DOCTYPE html>
<html>
{% include head.html %}

{% if page.title == "Home" %}
	{% assign class = "home" %}
	{% else %}
	{% assign class = "interior" %}

{% endif %}

<body id="{{ page.title | slugify }}" class="{{ class }}">
	{% include header.html %}
	<main class="contain">
	{% if page.title == "Home" %}
		<div id="posts">
			{% for post in site.posts %}
				{% if post.show != false %}
				<article id="{{ post.title | slugify }}" class="{% if post.categories %}{% for item in post.categories %}{{ item }} {% endfor %}{% endif %}" >						
						{% if post.image %}
							<img src="{{ post.image | prepend: baseurl }}" >	
						{% elsif post.embed_text %}
								{{ post.embed_text }}     
						{% endif %}
						<div class="article-text">							
							{% if post.categories %}
								<ul id="article-categories">
									{% for item in post.categories %}
										<li class="article-category">{{ item }}</li>
									{% endfor %}	
								</ul>
							{% endif %}
							<h3 class="article-headline"><a href="{{ post.link  }}" target="_blank">{{ post.title }}</a></h3>
							<div class="article-text-meta">
								<time>{{ post.date | date: "%b %-d, %Y" }}</time>
								{% if post.publication %}
									<small class="article-publication"> &nbsp;&bull;&nbsp; <em>{{ post.publication }}</em></small>
								{% endif %}
							</div>
							{{ post.content }}		
						</div>
						<a href="cloudcannon:collections/{{ post.path }}" data-cms-editor-link-style="modal" class="editor-link">Edit post</a>
					</article>
					{% endif %}					
			{% endfor %}
		</div>
		{% else %}
			{{ content }}
	{% endif %}
	</main>
	{% include footer.html %}
	<script>
		console.log('hello world!');
		var fullContent = document.getElementById('full-content');
		var readMore = document.getElementById('read-more');
		fullContent.classList.add('hide');
		readMore.onclick = function() {
			toggleElement(fullContent);
			readMore.classList.toggle('hide');
		};
		function toggleElement(x) {
			console.log('functioning!');
			x.classList.toggle('hide');
		}
		
		if (window.location.host === "app.cloudcannon.com") {
		    readMore = document.getElementById('read-more');
		    readMore.classList.style('display', 'block');   
		}
		
	</script>
</body>

</html>
