<!DOCTYPE html>
<html>
{% include head.html %}

{% if page.title == "Home" %}
	{% assign class = "home" %}
	{% else %}
	{% assign class = "interior" %}

{% endif %}

<body id="{{ page.title | slugify }}" class="{{ class }}">
	{% include header.html %}
	<main class="contain">
	{% if page.title == "Home" %}
		<div id="posts">
			{% for post in site.posts %}
				<article id="{{ post.title | slugify }}" class="{% if post.categories %}{% for item in post.categories %}{{ item }} {% endfor %}{% endif %}" >
						
						{% if post.image %}
							<img src="{{ post.image | prepend: baseurl }}" >	
						{% elsif post.embed %}
								{{ post.embed }}     
						{% endif %}
						<div class="article-text">
							<time>{{ post.publish_date | date: "%b %-d, %Y" }}</time>
							{% if post.categories %}
								<ul>
									{% for item in post.categories %}
										<li>{{ item }}</li>
									{% endfor %}	
								</ul>
							{% endif %}


							<h3><a href="{{ post.link  }}" target="_blank">{{ post.title }}</a></h3>
							{{ post.content }}	
						</div>		
					</article>
			{% endfor %}
		</div>
		{% else %}
			{{ content }}
	{% endif %}
	</main>
	{% include footer.html %}
</body>

</html>
